{% load static %}
{% load i18n %}
{% load account socialaccount %}

<body>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

{% block content %}
<div class="form-wrapper">
  <h1>ログイン</h1>
  <form action="" method="POST">
    <div class="form-item">
                {{ form.login }}
                <hr>
                {{ form.password }}

                <div class="button-panel">
                <button type="submit" class="button" >ログイン</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
    </div>
</form>
  <div class="form-footer">
    <p><a href="{{ signup_url }}">新規登録</a></p>
    <p><a href="#">パスワードをお忘れですか?</a></p>
  </div>
</div>
{% endblock %}
</body>


